.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

select {
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 5px;
    width: 150px;
    box-sizing: border-box;
    cursor: pointer;
}

#region-select {
    background-color: #3C5AA6;
}

#type-select {
    background-color: #2A75BB;
}

#order-select {
    background-color: #707070;
}

option:first-child {
    display: none;
}

option {
    background-color: #FFFFFF;
    color: #707070;
}

.fa-option {
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    cursor: pointer;
}