*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid black;
  animation: frames .8s  ease-in-out 0.5s infinite;
}

.pokeball:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: red;
  border-right: 4px solid black;
  top: -55%;
  transform: rotate(90deg); 
}

.pokeball:before{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height:10px;
  border: 4px solid black;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames{
  0% {
    transform: rotate(0deg); 
  }
  100%{
    transform: rotate(360deg);
  }
}