.list-item {
    width: 100%;
    max-width: 1400px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    margin: 0 25px;
}

.item img {
    background-color: #F0F0F0;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.list-item h3 {
    margin-top: 0;
    font-weight: 500;
    text-transform: capitalize;
}

.list-item p {
    margin-top: 0;
    text-align: right;
}

.list-item a {
    color: #707070;
    text-decoration: none;
}