.single-item {
    width: 100%;
    max-width: 1400px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.pokemon-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.moves {
    background-color: #FFCB05;
}

.single-item img {
    width: 200px;
    height: 200px;
    background-color: #F0F0F0;
    border-radius: 10px;
    margin: 10px;
}

.pokemon-info {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    padding-top: 25px;
}