input[type="submit"] {
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #3C5AA6, #2A75BB);
    color: white;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;
}

input[type="text"] {
    width: 250px;
    height: 40px;
    border: none;
    background-color: #F0F0F0;
    border-radius: 10px;
    position: relative;
    left: 15px;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 1;
}

.fa-input {
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    cursor: pointer;
}